@model LearningEFCore.Models.Product

@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
            <input name="original.Id" value="@Model?.Id" type="hidden" />
            <input name="original.Name" value="@Model?.Name" type="hidden" />
            <input name="original.Category" value="@Model?.Category" type="hidden" />
            <input name="original.Price" value="@Model?.Price" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-6">
                    <h5 class="bg-info text-center p-2 text-white">Supplier</h5>
                    @Html.Partial("Supplier", Model)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
